{% trans_default_domain 'FOSUserBundle' %}
{% block fos_user_content %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div id="conteneur_login">
        <div id="left_login">
            <img src="{{ asset('image/logo_ynov.png') }}">
            <p>Connexion</p>
        </div>
        <div id="center_login">
        </div>
        <form id="right_login" action="{{ path("fos_user_security_check") }}" method="post" >
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            <input type="text" id="username" name="_username" placeholder="{{ 'security.login.username'|trans }}" required="required" value="{{ last_username }}" />
            <input type="password" id="password" name="_password" placeholder="{{ 'security.login.password'|trans }}" required="required" />

            <input type="submit" class="hvr-fade login login-submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
        </form>
    </div>
{% endblock fos_user_content %}